<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
   <h1> URL Shortener</h1>
   <% if (locals.id) { %>
    <p>Url generate : <a href="http://localhost:5000/url/<%= id %>">http://localhost:5000/url/<%= id %></a> </p>
   <% } %>
   <form method="POST" action="/url" >
    <label for="redirectURl">Enter your Original URl : </label>
    <input type="text" name="url"  placeholder="eg: www.google.com"/>
    <button type="submit">Generate</button>
   </form>
   <p><%= locals.id %></p>
   <div>
    <% if (locals.urls) { %>
     <table>
        <thead>
            <th>Sno</th>
            <th>Short ID</th>
            <th>redirect id</th>
            <th>clicks</th>
        </thead>
        <tbody>
            <% urls.forEach((url, index) => { %>
                <tr>
                  <td><%= index+1 %></td>
                  <td><%= url.shortId %></td>
                <td><%= url.redirectURl %></td>
                <td><%= url.visitHistory.length %></td>

              </tr>
            <% }) %>
        </tbody>
     </table>
    <% } %>
   </div>
</body>
</html>